# Ignore files with no extension
*
!*/
!*.*

# ...but some files that belong in the repository have no suffix either, and
# the rule above swallows them silently: `git add` just skips them and the
# commit goes through looking fine. LICENSE was lost exactly that way.
# Makefile survives only because it was tracked before the rule existed.
!LICENSE
!Makefile

# Virtual env
.venv/

# Python cache/artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Tools & test caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Env & OS bits
.env
.env.*
.DS_Store

# Binaries
*.safetensors
*.bin
